
body{
    background: url("image3.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;   
}


background{
    url: ("image3.jpg")

}

.SignUpBox{
    background: rgba(44, 61, 80, 0.8);
    padding: 40px;
    width: 200px;
    margin-top: 90px;
    margin-left: 200px;
    margin: 0 auto;
}

form{
    width: 200px;
    text-align: center;
    margin-top: -20px;
}

input{
    width: 200px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 3px solid green;
    font-size: 16px;
    font-weight: 200px;
    padding: 2px 0;
    transition: border 0.5s ;
    outline: none;
    height: 30px;
    color: white;
}

button{
    font-size: 15px;
    border: none;
    width: 150px;
    color: gray;
    padding: 5px 0;
    border-radius: 25px;
    cursor: pointer;
}

button:hover{
    background: blue;
    color: white;
 }

 .My{
    color: goldenrod;
 }
 
 a:hover{color: gold;}
 .sign{
    color: white;
 }
 ::placeholder{
    color: whitesmoke;
    opacity: 0.6;
 }